<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Print Password</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../../static/css/apg.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header class="apg-header">
            <button class="apg-button  apg-button--secondary  apg-font-size-20" type="button">
                VOLTAR
            </button>

            <img class="apg-logo" src="../../static/img/Logo_Clinic.jpeg" />

            <!-- Auxiliary Div -->
            <div></div>
        </header>

        <main class="apg-main">
            <p class="apg-font-size-24">Retire sua senha de atendimento aqui</p>

            <!-- A Fazer: Percorrer e Exibir os Tipos de Senha -->
            <div class="apg-main-commands">
                <button class="apg-button  apg-button--primary  apg-main-commands__command  apg-font-size-20">
                    APENAS MÉDICO
                </button>
    
                <button class="apg-button  apg-button--primary  apg-main-commands__command  apg-font-size-20">
                    MÉDICO E EXAME(S)
                </button>
            </div>
        </main>

        <footer class="apg-footer">
            <p>&copy; 2025 Álex Moura. Todos os direitos reservados.</p>
        </footer>
    </body>
</html>