<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Print Password</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:href="@{/css/apg.css}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header class="apg-header">
            <button class="apg-button  apg-button--secondary  apg-font-size-20  apg-visibility-hidden  js-back-button"
                type="button"
            >
                VOLTAR
            </button>

            <img class="apg-logo" th:src="@{/img/logo_clinic.png}" />

            <!-- Auxiliary Div -->
            <div></div>
        </header>

        <main class="apg-main">
            <p class="apg-font-size-24">Retire sua senha de atendimento aqui</p>

            <div class="apg-main-commands  js-service-type-buttons-container">
                <button class="apg-button  apg-button--primary  apg-main-commands__command  apg-font-size-20  js-service-type-button"
                    th:each="serviceTypeButton : ${viewModel.serviceTypeButtons}"
                    th:data-input-value="${serviceTypeButton.inputValue}"
                >
                    [[${serviceTypeButton.description}]]
                </button>
            </div>

            <form class="apg-display-none  apg-width-100  js-print-password-form" method="POST" th:action="@{/password/print-password}" th:object="${printPasswordRequest}">
                <input class="js-service-type-input" type="hidden" th:field="*{serviceType}" />
                <input class="js-password-type-input" type="hidden" th:field="*{passwordType}" />

                <div class="apg-main-commands">
                    <button class="apg-button  apg-button--primary  apg-main-commands__command  apg-font-size-20"
                        type="submit"
                        th:each="passwordTypeButton : ${viewModel.passwordTypeButtons}"
                        th:data-input-value="${passwordTypeButton.inputValue}"
                    >
                        [[${passwordTypeButton.description}]]
                    </button>
                </div>
            </form>
        </main>

        <footer class="apg-footer">
            <p>&copy; 2025 Clismetra. Todos os direitos reservados.</p>
        </footer>

        <div class="apg-loading  apg-display-none  js-loading">
            <img class="apg-loading__img" th:src="@{/img/loading.gif}" />
        </div>

        <script th:src="@{/js/apg.js}"></script>
    </body>
</html>