<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Print Password</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link th:href="@{/css/vendor/bootstrap.min.css}" type="text/css" rel="stylesheet" />
		<link th:href="@{/css/apg.css}" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="application-container">
			<header class="main-header">
				<div class="logo">
					<img class="logo__img" th:src="@{/img/logo.png}" />
				</div>
			</header>
			
			<hr />
			
			<main class="main-content">
				<div class="container">
					<div class="informational-message">
						<p class="informational-message__text">Retire Sua Senha Aqui!</p>
					</div>
					
					<div class="print-password">
						<form class="print-password__form" method="POST" th:action="@{/password/print-password}">
							<input type="hidden" name="passwordType" value="CONVENCIONAL" />
							<button class="btn  btn-success  print-password__button" type="submit">Convencional</button>
						</form>
					</div>
					<div class="print-password">
						<form class="print-password__form" method="POST" th:action="@{/password/print-password}">
							<input type="hidden" name="passwordType" value="PREFERENCIAL" />
							<button class="btn  btn-danger  print-password__button" type="submit">Preferencial</button>
						</form>
					</div>				
				</div>
			</main>
			
			<hr />
			
			<footer class="main-footer">
				<div class="copyright">
					<p class="copyright__text">&copy;2021 APG. All Rights Reserved.</p>
				</div>
			</footer>
		</div>
	</body>
</html>