<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Print Password</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link th:href="@{/css/vendor/bootstrap.min.css}" type="text/css" rel="stylesheet" />
		<link th:href="@{/css/apg.css}" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="application-container">
			<header class="main-header">
				<div class="logo">
					<img class="logo__img" th:src="@{/img/logo.png}" />
				</div>
			</header>
			
			<hr />
			
			<main class="main-content">
				<div class="container">
					<div class="informational-message">
						<p class="informational-message__text">Retire Sua Senha Aqui!</p>
					</div>
					
					<th:block th:each="passwordType : ${passwordTypes}">
						<div class="print-password">
							<form class="print-password__form" method="POST" th:action="@{/password/print-password}">
								<input type="hidden" name="passwordType" th:value="${passwordType.inputValue}" />
								<button class="btn  print-password__button" type="submit" th:classappend="${passwordType.classOfButtonBackgroundColor}">
									[[${passwordType.buttonDescription}]]
								</button>
							</form>
						</div>
					</th:block>			
				</div>
			</main>
			
			<hr />
			
			<footer class="main-footer">
				<div class="copyright">
					<p class="copyright__text">&copy;2021 APG. All Rights Reserved.</p>
				</div>
			</footer>
		</div>
	</body>
</html>