@font-face {
	font-family: "Montserrat";
	src: url("../font/Montserrat.woff2");
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-color: #F8FAFC;
	color: #575E67;
	display: flex;
	flex-direction: column;
	font-family: "Montserrat";
	font-size: 1rem;
	padding: 40px;
}

.apg-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.apg-button {
	background-color: transparent;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: "Montserrat";
	padding: 20px 40px;
}

.apg-button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.apg-button--primary, .apg-button--secondary {
	color: #FFF;
}

.apg-button--primary {
	background-color: #213A5D;
}

.apg-button--secondary {
	background-color: #95C839;
}

.apg-logo {
	width: 250px;
}

.apg-main {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 60px;
	justify-content: center;
	padding: 40px 80px;
}

.apg-main-commands {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

.apg-main-commands__command {
	width: calc(50% - 10px);
}

.apg-footer {
	text-align: center;
}

.apg-font-size-20 {
	font-size: 1.25rem;
}

.apg-font-size-24 {
	font-size: 1.5rem;
}