@font-face {
	font-family: "Montserrat";
	src: url("../font/Montserrat.woff2");
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-color: #F8FAFC;
	color: #575E67;
	display: flex;
	flex-direction: column;
	font-family: "Montserrat";
	font-size: 1rem;
	padding: 40px;
}

.apg-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.apg-button {
	background-color: transparent;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: "Montserrat";
	padding: 40px 20px;
}

.apg-button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.apg-button--primary,
.apg-button--secondary,
.apg-button--warning,
.apg-button--danger,
.apg-button--success {
	color: #FFF;
}

.apg-button--primary {
	background-color: #213A5D;
}

.apg-button--secondary {
	background-color: #6E6E6E;
}

.apg-button--warning {
	background-color: #F5A623;
}

.apg-button--danger {
	background-color: #D72638;
}

.apg-button--success {
	background-color: #95C839;
}

.apg-logo {
	width: 300px;
}

.apg-main {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 60px;
	justify-content: center;
	padding: 40px 80px;
}

.apg-main-commands {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

.apg-main-commands__command {
	width: calc(50% - 10px);
}

.apg-footer {
	text-align: center;
}

.apg-loading {
	align-items: center;
	background-color: rgb(255, 255, 255, .75);
	display: flex;
	inset: 0;
	justify-content: center;
	position: fixed;
	z-index: 1000;
}

.apg-loading__img {
	width: 100px;
}

.apg-font-size-24 {
	font-size: 1.5rem;
}

.apg-font-size-28 {
	font-size: 1.75rem;
}

.apg-display-none {
	display: none;
}

.apg-width-100 {
	width: 100%;
}

.apg-visibility-hidden {
	visibility: hidden;
}

.apg-text-align-center {
	text-align: center;
}